<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Christian Social Media Application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to the official Christian Social Media</h1>
            <p class="lead">A platform where you can meet other Christians near you or around the world!</p>
            <hr class="my-4">
            <p class="lead">Click on the join button to join a video call with a Christian Brethren </p>
            <form action="/room"></form>
            <a class="btn btn-primary btn-lg" href="/video" role="button">Login</a>
        </div>
      </div>
</body>
</html>